<div class="login-wrap">
<div class="wrap-img">
<img src="" class="login-img"/>
</div>
<form method="GET" action="/signup">
<div class="wrap-passcode">
  <b><p class="login-info">パスコードとは</p></b>
  <input name="passcode" type="text" class="passcode">
</div>
<div class="button-wrap">
  <button class="sign-in" type="submit">サインイン</button>
</div>
</form>
<div class="facebook-button-wrap">
  <b><p class="login-info">ログインしたことがある方は</p></b>
  <button class="facebook" onClick="location.href='/drinker/auth/facebook'">Facebookでログイン</button>
</div>
<div class="login-terms">
<a href="/terms">利用規約</a>
</div>
</div>
