<div class="login-wrap">
<div class="wrap-img">
  <%= image_tag asset_path("icon-2x.png"), class: "login-img" %>
</div>
<form method="GET" action="/signup">
<div class="wrap-passcode">
  <p class="login-info">パスコード入力</p>
  <p><input name="passcode" type="text" placeholder="パスコード" maxlength="6" class="passcode"></p>
  <% if flash[:alert].present? %>
    <p class="error_message"> <%= flash[:alert] %></p>
  <% end %>
  <p class="passcode-info">※チケットにPASSと記載されている6桁の英数字を<br/>入力してください（初回登録時のみ）。</p>
</div>
<div class="button-wrap">
  <input class="normal" type="submit" value="ユーザ登録" />
</div>
</form>
<div class="facebook-button-wrap">
  <p class="login-info">すでに登録されている方は</p>
  <p><button class="facebook" onClick="location.href='/drinker/auth/facebook'">Facebookでログイン</button></p>
</div>
</div>
