<div class="terms">

<h2>利用規約</h2>

<p>この利用規約（以下、「本規約」といいます。）は、松江トランキーロ組合（以下、「当組合」といいます。）がこのウェブサイト上で提供するサービス（以下、「本サービス」といいます。）の利用条件を定めるものです。登録ユーザーの皆さま（以下、「ユーザー」といいます。）には、本規約に従って、本サービスをご利用いただきます。</p>

<h3>第1条（適用）</h3>

<p>本規約は、ユーザーと当組合との間の本サービスの利用に関わる一切の関係に適用されるものとします。</p>

<h3>第2条（利用登録）</h3>

<ol>
<li>登録希望者が当組合の定める方法によって利用登録を申請し、当組合がこれを承認することによって、利用登録が完了するものとします。</li>
<li>当組合は、利用登録の申請者に以下の事由があると判断した場合、利用登録の申請を承認しないことがあり、その理由については一切の開示義務を負わないものとします。

<ol>
<li>利用登録の申請に際して虚偽の事項を届け出た場合</li>
<li>本規約に違反したことがある者からの申請である場合</li>
<li>その他、当組合が利用登録を相当でないと判断した場合</li>
</ol>
</li>
</ol>

<h3>第3条（ユーザーIDおよびパスワードの管理）</h3>

<ol>
<li>本サービスは、米国Facebook社が提供するFacebookサービスとアカウント連携することにより、ユーザーIDが管理されます。</li>
<li>ユーザーは、自己の責任において、FacebookサービスのユーザーIDおよびパスワードを管理するものとします。</li>
<li>ユーザーは、いかなる場合にも、ユーザーIDを第三者に譲渡または貸与することはできません。当組合は、ユーザーIDが登録情報と一致してログインされた場合には、そのユーザーIDを登録しているユーザー自身による利用とみなします。</li>
</ol>

<h3>第4条（利用料金）</h3>

<p>ユーザーは、本サービス利用に対価を支払う必要はありません。</p>

<h3>第5条（禁止事項）</h3>

<p>ユーザーは、本サービスの利用にあたり、以下の行為をしてはなりません。<br>
    1. 法令または公序良俗に違反する行為<br>
    2. 犯罪行為に関連する行為<br>
    3. 当組合のサーバーまたはネットワークの機能を破壊したり、妨害したりする行為<br>
    4. 当組合のサービスの運営を妨害するおそれのある行為<br>
    5. 他のユーザーに関する個人情報等を収集または蓄積する行為<br>
    6. 他のユーザーに成りすます行為<br>
    7. 当組合のサービスに関連して、反社会的勢力に対して直接または間接に利益を供与する行為<br>
    8. その他、当組合が不適切と判断する行為</p>

<h3>第6条（本サービスの提供の停止等）</h3>

<ol>
<li>
<p>当組合は、以下のいずれかの事由があると判断した場合、ユーザーに事前に通知することなく本サービスの全部または一部の提供を停止または中断することができるものとします。</p>

<ol>
<li>本サービスにかかるコンピュータシステムの保守点検または更新を行う場合</li>
<li>地震、落雷、火災、停電または天災などの不可抗力により、本サービスの提供が困難となった場合</li>
<li>コンピュータまたは通信回線等が事故により停止した場合</li>
<li>その他、当組合が本サービスの提供が困難と判断した場合</li>
</ol>
</li>
<li><p>当組合は、本サービスの提供の停止または中断により、ユーザーまたは第三者が被ったいかなる不利益または損害について、理由を問わず一切の責任を負わないものとします。</p></li>
</ol>

<h3>第7条（利用制限および登録抹消）</h3>

<ol>
<li>
<p>当組合は、以下の場合には、事前の通知なく、ユーザーに対して、本サービスの全部もしくは一部の利用を制限し、またはユーザーとしての登録を抹消することができるものとします。</p>

<ol>
<li>本規約のいずれかの条項に違反した場合</li>
<li>登録事項に虚偽の事実があることが判明した場合</li>
<li>その他、当組合が本サービスの利用を適当でないと判断した場合</li>
</ol>
</li>
<li><p>当組合は、本条に基づき当組合が行った行為によりユーザーに生じた損害について、一切の責任を負いません。</p></li>
</ol>

<h3>第8条（免責事項）</h3>

<ol>
<li>当組合の債務不履行責任は、当組合の故意または重過失によらない場合には免責されるものとします。</li>
<li>当組合は、本サービスに関して、ユーザーと他のユーザーまたは第三者との間において生じた取引、連絡または紛争等について一切責任を負いません。</li>
</ol>

<h3>第9条（サービス内容の変更等）</h3>

<p>当組合は、ユーザーに通知することなく、本サービスの内容を変更しまたは本サービスの提供を中止することができるものとし、これによってユーザーに生じた損害について一切の責任を負いません。</p>

<h3>第10条（利用規約の変更）</h3>

<p>当組合は、必要と判断した場合には、ユーザーに通知することなくいつでも本規約を変更することができるものとします。</p>

<h3>第11条（通知または連絡）</h3>

<p>ユーザーと当組合との間の通知または連絡は、当組合の定める方法によって行うものとします。</p>

<h3>第12条（権利義務の譲渡の禁止）</h3>

<p>ユーザーは、当組合の書面による事前の承諾なく、利用契約上の地位または本規約に基づく権利もしくは義務を第三者に譲渡し、または担保に供することはできません。</p>

<h3>第13条（準拠法・裁判管轄）</h3>

<ol>
<li>本規約の解釈にあたっては、日本法を準拠法とします。</li>
<li>本サービスに関して紛争が生じた場合には、当組合の本店所在地を管轄する裁判所を専属的合意管轄とします。</li>
</ol>

<h2>プライバシーポリシー</h2>

<p>松江トランキーロ組合（以下、「当組合」といいます。）は、本ウェブサイト上で提供するサービス（以下,「本サービス」といいます。）におけるプライバシー情報の取扱いについて、以下のとおりプライバシーポリシー（以下、「本ポリシー」といいます。）を定めます。</p>

<h3>第1条（プライバシー情報）</h3>

<ol>
<li>プライバシー情報のうち「個人情報」とは、個人情報保護法にいう「個人情報」を指すものとし、生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日、住所、電話番号、連絡先その他の記述等により特定の個人を識別できる情報を指します。</li>
<li>プライバシー情報のうち「履歴情報および特性情報」とは、上記に定める「個人情報」以外のものをいい、ご利用いただいたサービスやご購入いただいた商品、ご覧になったページや広告の履歴、ユーザーが検索された検索キーワード、ご利用日時、ご利用の方法、ご利用環境、郵便番号や性別、職業、年齢、ユーザーのIPアドレス、クッキー情報、位置情報、端末の個体識別情報などを指します。</li>
</ol>

<h3>第２条（プライバシー情報の収集方法）</h3>

<ol>
<li>当組合は、ユーザーが利用登録をする際に氏名、生年月日、住所、電話番号、メールアドレスなどの個人情報をお尋ねすることがあります。</li>
<li>当組合は、ユーザーについて、利用したサービスやソフトウエア、閲覧したページや広告の履歴、検索した検索キーワード、利用日時、利用方法、利用環境（携帯端末を通じてご利用の場合の当該端末の通信状態、利用に際しての各種設定情報なども含みます）、IPアドレス、クッキー情報、位置情報、端末の個体識別情報などの履歴情報および特性情報を、ユーザーが当組合や提携先のサービスを利用しまたはページを閲覧する際に収集します。</li>
</ol>

<h3>第３条（個人情報を収集・利用する目的）</h3>

<p>当組合が個人情報を収集・利用する目的は、以下のとおりです。<br>
1. ユーザーに自分の登録情報の閲覧や修正、利用状況の閲覧を行っていただくために、氏名、住所、連絡先などの登録情報、利用されたサービスに関する情報を表示する目的<br>
2. ユーザーにお知らせや連絡をするためにメールアドレスを利用する目的<br>
3. ユーザーの本人確認を行うために、氏名、生年月日、住所、電話番号などの情報を利用する目的<br>
4. 上記の利用目的に付随する目的</p>

<h3>第４条（個人情報の第三者提供）</h3>

<ol>
<li>
<p>当組合は、次に掲げる場合を除いて、あらかじめユーザーの同意を得ることなく、第三者に個人情報を提供することはありません。ただし、個人情報保護法その他の法令で認められる場合を除きます。</p>

<ol>
<li>法令に基づく場合</li>
<li>人の生命、身体または財産の保護のために必要がある場合であって、本人の同意を得ることが困難であるとき</li>
<li>公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難であるとき</li>
<li>国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき</li>
<li>予め次の事項を告知あるいは公表をしている場合

<ol>
<li>利用目的に第三者への提供を含むこと</li>
<li>第三者に提供されるデータの項目</li>
<li>第三者への提供の手段または方法</li>
<li>本人の求めに応じて個人情報の第三者への提供を停止すること</li>
</ol>
</li>
</ol>
</li>
<li>
<p>前項の定めにかかわらず、次に掲げる場合は第三者には該当しないものとします。</p>

<ol>
<li>当組合が利用目的の達成に必要な範囲内において個人情報の取扱いの全部または一部を委託する場合</li>
<li>個人情報を特定の者との間で共同して利用する場合であって、その旨並びに共同して利用される個人情報の項目、共同して利用する者の範囲、利用する者の利用目的および当該個人情報の管理について責任を有する者の氏名または名称について、あらかじめ本人に通知し、または本人が容易に知り得る状態に置いているとき</li>
</ol>
</li>
</ol>

<h3>第５条（個人情報の訂正および削除）</h3>

<p>ユーザーは、当組合の保有する自己の個人情報が誤った情報である場合には、当組合が定める手続きにより、当組合に対して個人情報の訂正または削除を請求することができます。<br>
当組合は、ユーザーから前項の請求を受けてその請求に応じる必要があると判断した場合には、遅滞なく、当該個人情報の訂正または削除を行い、これをユーザーに通知します。</p>

<h3>第６条（個人情報の利用停止等）</h3>

<p>当組合は、本人から、個人情報が、利用目的の範囲を超えて取り扱われているという理由、または不正の手段により取得されたものであるという理由により、その利用の停止または消去（以下、「利用停止等」といいます。）を求められた場合には、遅滞なく必要な調査を行い、その結果に基づき、個人情報の利用停止等を行い、その旨本人に通知します。ただし、個人情報の利用停止等に多額の費用を有する場合その他利用停止等を行うことが困難な場合であって、本人の権利利益を保護するために必要なこれに代わるべき措置をとれる場合は、この代替策を講じます。</p>

<h3>第７条（プライバシーポリシーの変更）</h3>

<ol>
<li>本ポリシーの内容は、ユーザーに通知することなく、変更することができるものとします。</li>
<li>当組合が別途定める場合を除いて、変更後のプライバシーポリシーは、本ウェブサイトに掲載したときから効力を生じるものとします。</li>
</ol>

<h3>第８条（お問い合わせ窓口）</h3>

<p>本ポリシーに関するお問い合わせは、下記の窓口までお願いいたします。<br>
Eメールアドレス：matsuetranquilo@gmail.com</p>

<% unless current_drinker %>
  <div class="center"><a href="#" onClick="history.back(); return false;">戻る</a></div>
<% end %>

</div>
