$header-height: 18vw;

.l_header {
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  $header-bg-color: #f0c12c;
  background-color: $header-bg-color;
  background-image: asset-url("noren-background-1.png");
  background-size: cover;
  z-index: 100;

  &_contents {
    height: $header-height;
    background-image: asset-url("noren-background-2.png");
    background-size: contain;
    background-repeat: repeat-x;

    & .profile-btn {
	width: 14vw;
	height: 18vw;
	padding-top: 6vw;
	font-size: 8vw;

	& a:link, & a:visited {
	    color: white;
	}
    }

    & .profile-show-btn {
	padding-right: 3vw;
	text-align: right;
	float: right;
    }

    & .profile-back-btn {
	padding-left: 3vw;
    }
  }
}

.l_contents {
  padding-top: $header-height;
}

#header-title {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 7vw;
    font-size: 6vw;
    font-weight: bold;
    text-align: center;
    pointer-events: none;
}
