.basic-button {
  width: 60vw;
  height: 10vw;
  font-size: 5vw;
  font-weight: bold;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  border-style: none;
  border-radius: 2vw;
}

button.normal,
input[type=submit].normal,
input[type=button].normal {
  @extend .basic-button;
  background-color: #f1ca03;
  background-image: url(../../assets/wood_button.png);
  border-bottom: 1vw solid #977C12;
}

button.normal:active,
input[type=submit].normal:active,
input[type=button].normal:active {
  border-top: 1vw solid #977C12;
  border-bottom: 0px;
}
