<footer class="l_footer">
  <% 3.times.each do %>
    <a class="m_btn m_btn_with-caption">
      <div class="m_btn_img">
      </div>
      <span class="m_btn_text"></span>
    </a>
  <% end %>
</footer>

