<footer class="l_footer">
  <div class="footer-btn">
    <%= link_to "", "/restaurants/vote", class: "footer-vote" %>
  </div>
  <div class="footer-btn">
    <%= link_to "", "/restaurants/map", class: "footer-map" %>
  </div>
  <div class="footer-btn">
    <%= link_to "", "/thewinner", class: "footer-winner" %>
  </div>
</footer>

