<header class="l_header">
  <div class="l_header_contents">
   <% if profile.present? %>
     <% if profile == "x" %>
       <div class="profile-btn profile-back-btn">
         <%= link_to fa_icon("chevron-left"), "/restaurants/vote" %>
       </div>
    <% end %>
   <% else %>
     <% if title.present?  %>
       <span id="header-title" ><%= title %></span>
     <% end %>
     <div class="profile-btn profile-show-btn">
       <%= link_to fa_icon("user"), "/drinkers/edit" %>
     </div>
    <% end %>
  </div>
</header>
