<% if restaurant %>
<div id="restaurant-icon">
<%= image_tag asset_path("restaurant/#{restaurant.id}.png"), class: "restaurant-icon" %>
</div>
<div id="restaurant-info">
  <div class="congestion-label congestion-<%= restaurant.current_congestion_degree %>">
    <%= restaurant.congestion_label %>
  </div>
  <div class="restaurant-name"><%= restaurant.official_name %></div>
</div>
<% end %>
