<% if restaurant %>
<div id="restaurant-icon">
<%= image_tag restaurant.icon.url, class: "restaurant-icon" %>
</div>
<div id="restaurant-info">
  <div>
    <span class="congestion-label congestion-<%= restaurant.congestion_degree %>">
      <%= restaurant.congestion_label %>
    </span>
  </div>
  <div class="restaurant-name"><%= restaurant.official_name %></div>
</div>
<% end %>
