<h1>restaurants</h1>
<% @restaurants.each do |restaurant| %>
  <p><%= restaurant.name %></p>
<% end %>
<!-- TODO -->
<!-- 仮のログインリンク -->
<!-- こんな感じでパスフレーズを渡してやれば、 -->
<!-- Drinker::OmniauthCallbacksControllerで、 -->
<!-- request.env['omniauth.params']で値が取得できる -->
<%= link_to 'ログイン', '/drinker/auth/facebook?flag=1' %>
