<div>
  <div id="map"></div>
</div>
<div id="restaurant-detail">
  <%= render partial: "detail", locals: { restaurant: @restaurant } %>
</div>

<script type="text/javascript">
  (function() {
    var handler = Gmaps.build('Google');
    handler.buildMap({ provider: {streetViewControl:false,mapTypeControl:false,zoomControl:false}, internal: {id: 'map'}}, function(){
      var markers = handler.addMarkers(<%=raw @markers.to_json %>);
      markers.map(function(marker) {
        var id = marker.getServiceObject().title;
        marker.getServiceObject().addListener('click', function(e) {
          $.ajax({
            url: "/restaurants/" + id
          }).success(function(data) {
            $("#restaurant-detail").empty().append(data);
          });
        });
      });
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();

      navigator.geolocation.getCurrentPosition(function(position) {
        handler.addMarker({
          lat: position.coords.latitude,
          lng: position.coords.longitude,
          infowindow: "現在地"
        });
      }, function(e) {
        console.warn("getCurrentPosition(): " + e.code + ": " + e.message);
      });
    });
  })();
</script>

<div id="twitter">
  <h1 id="twitter-title">Twitter</h1>
  <a class="twitter-timeline" href="https://twitter.com/MatsueTranquilo" data-chrome="noheader">Tweets by MatsueTranquilo</a>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
