<div>
  <div id="map"></div>
</div>
<div id="restaurant-detail">
  <%= render partial: "detail", locals: { restaurant: @restaurant } %>
</div>

<script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @markers.to_json %>);
      markers.map(function(marker) {
        var id = marker.getServiceObject().title;
        marker.getServiceObject().addListener('click', function(e) {
          $.ajax({
            url: "/restaurants/" + id
          }).success(function(data) {
            $("#restaurant-detail").empty().append(data);
          });
        });
      });
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
</script>

<div id="twitter">
  <h1 id="twitter-title">TWITTER</h1>
  <a class="twitter-timeline" href="https://twitter.com/MatsueTranquilo" data-chrome="noheader">Tweets by MatsueTranquilo</a>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
