<div id="sakes">
<% @restaurant.sakes.each do |sake| %>
  <div class="sake"><%= image_tag sake.photo.url, alt: sake.name %></div>
<% end %>
</div>
<div id="sakename"></div>
<div><button onclick="vote()">投票</button></div>

<script type="text/javascript">
var index = 0;
var sakes = <%= raw @restaurant.sake_menu_items.map { |item|
  {
    "name" => item.sake.name,
    "vote_url" => drinkings_new_path(sake_id: item.sake.id)
  }
}.to_json %>;
$('#sakes').slick({
  infinite: false,
  arrows: true,
  dots: true
});
$('#sakes').on('afterChange', function(e, slick, currentSlide) {
  index = currentSlide;
  $('#sakename').empty().append(sakes[currentSlide].name);
});
$('#sakename').empty().append(sakes[0].name);
function vote() {
  location.href = sakes[index].vote_url;
}
</script>
