<div id="restaurant-name">
  <%= @restaurant.official_name %>
</div>
<div id="checkin-panel">
  <%= link_to "今いるお店が、上記と違う場合はこちら", new_checkin_path %>
</div>
<div id="sakes">
<% @restaurant.sakes.each do |sake| %>
  <div class="sake"><%= image_tag sake.photo(:medium), alt: sake.name %></div>
<% end %>
</div>
<div id="sake-info">
<div id="sake-name"></div>
<div><button class="normal" onclick="vote()">投票</button></div>
</div>

<script type="text/javascript">
var index = 0;
var sakes = <%= raw @restaurant.sakes.map { |sake|
  {
    "name" => sake.name,
    "vote_url" => drinkings_new_path(sake_id: sake.id)
  }
}.to_json %>;

function setSakeName(name) {
  $('#sake-name').empty().append(_.escape(name).replace(/\s+/g, '<br/>'));
}

function vote() {
  location.href = sakes[index].vote_url;
}

$('#sakes').slick({
  infinite: false,
  arrows: true,
  dots: true
});

$('#sakes').on('afterChange', function(e, slick, currentSlide) {
  index = currentSlide;
  setSakeName(sakes[currentSlide].name);
});
setSakeName(sakes[0].name);
</script>
