<div class="itstoolate">
  <h1 class="itstoolate-h1">投票は締めきりました</h1>
  <a href=""><img class="itstoolate-banner" src="assets/hiyaoroshi-vol1.png"></a>
  <p>
  <%= button_to "結果はこちら", "/thewinner",
                method: :get, class: "normal" %>
  </p>
</div>

