<div class="itstoolate" style="text-align: center; padding-top: 30vw">
  <h1>投票は締めきりました</h1>

  <p>
  <%= button_to "結果はこちら", "/thewinner",
                method: :get, class: "normal" %>
  </p>
</div>

