<div class="thewinner">
<h1 class="thewinner-title">結果発表</h1>
<div class="thewinner-wrap-content">
  <p class="thewinner-no1">1位は...</p>
  <p class="thewinner-hiyaoroshi"><%= @sake.name %></p>
  <p class="thewinner-image">
    <%= image_tag @sake.photo(:medium) %>
  </p>
</div>
