// Place all the styles related to the drinkers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "shared/common";

.profile-edit { display:none; }
.profile-back { padding-left:0px; }

$border1:#E4E4E4;
$border2:#DDDDDD;
$background2:#F2F2F2;

.profile { text-align:center; }
.profile-warning { font-size:2vw; }
.drinker-name
{
  font-size:20px; border-bottom: inset 2px $border1; margin:0px 15px;
  button{ font-size:10px;}
  input[type="submit"]{font-size:10px;}
  input[type="text"]{width:10em;}
}

.sake-title { font-size:1.8em; border-bottom: inset 2px $border1; margin:0px 15px; }

.drinker-log { height:50%; margin-top:30px; padding-top:20px; padding-bottom:30px; background-color:$background2; }

.logs{ height:10em; overflow:scroll; -webkit-overflow-scrolling: touch; margin:0px 15px; }

.log
{
  margin:10px 0px; border-bottom: inset 2px $border2;
  p{margin:-2px 0px; padding:0px; text-align:left;}
  #{&}-date{ font-size:15px; }
  #{&}-sake{ }
}


// Login
.button-wrap{
    margin-top: 5vw;
    text-align:center;
}
.facebook-button-wrap
{
   margin-top: 7vw;
}

input.passcode {
  width: 40vw;
  font-size: 8vw;
  font-family: monospace;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom: 1px solid #aaa;
}

button:focus {
  outline: none;
}

button.facebook:active {
  border-top: 1vw solid #1f356b;
  border-bottom: 0px;
}

button.facebook {
  @extend .basic-button;
  background-color: #2B4174;
  background-image: url(../assets/wood_facebook_button.png);
  border-bottom: 1vw solid #2B4174;
}

.login-wrap{ text-align: center; }
.wrap-passcode{ padding-top: 8vw; }
.login-img{ width:31vw; height:31vw; }
.login-info{
   margin-top:0px; margin-bottom:0px;
   font-size: 4vw;
   font-weight: bold;
}
.passcode-info {
  width: 80vw;
  font-size: 3vw;
  margin: auto;
}
.login-terms { margin-top:11vw; }
.error_message{ color:red; }
