// Place all the styles related to the drinkings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "shared/common";

.ui-dialog {
  display: table;
  height: 50vh !important;
}

.modal {
  display: table-cell;
  vertical-align: middle;
}

.no-titlebar .ui-dialog-titlebar {
  display: none;
}

.modal-body, .modal-footer {
  text-align: center;
}

.modal-footer {
  margin-top:    4vw;
  margin-bottom: 4vw;
}

.modal-text {
  margin-top:    4vh;
  margin-bottom: 4vh;
  font-size:     5vw;
  font-weight:   bold;
}

// 飲み方
.modal-body input[type=radio] {
  display: none;
}

.modal-body input[type=radio]:checked + label {
  margin:     2vw;
  background: #f3c517;
  color:      #fff;
  border:     none;
}

.modal-body label {
  margin:        1.6vw;
  padding:       3vw 5vw;
  font-size:     5vw;
  font-weight:   bold;
  color:         #ccc;
  border:        0.4vw solid #ccc;
  border-radius: 4vw;
}

// 評価する
.br-theme-fontawesome-stars .br-widget {
  margin-top: -2vh;
  padding-bottom: 5vh;
}

.br-theme-fontawesome-stars .br-widget a {
  font: normal normal normal 10vw/1 FontAwesome !important;
  margin-right: 1.5vw !important;
  margin-left: 1.5vw !important;
}

.br-theme-fontawesome-stars .br-widget a:after {
  color: #ccc !important;
}

.br-theme-fontawesome-stars .br-widget a.br-active:after {
  color: #f3c517 !important;
}

.br-theme-fontawesome-stars .br-widget a.br-selected:after {
  color: #f3c517 !important;
}
