// Place all the styles related to the drinkers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "shared/common";

.profile-edit { display:none; }
.profile-back { padding-left:0px; }

$border1:#E4E4E4;
$border2:#DDDDDD;
$background2:#F2F2F2;

.profile {
  text-align: center;

  & h2 {
    font-size: 4vw;
    font-weight: bold;
    margin: 2vw 0;
  }
}

.profile-warning { font-size:2vw; }

.drinker-name
{
  display: flex;
  justify-content: center;
  font-size: 6vw;
  border-bottom: solid 1px $border1;
  margin: 0 4vw;
  padding: 2vw;

  & a:link, & a:visited {
    color: black;
  }

  &-edit {
    width: 20%;
    text-align: left;
  }

  &-content {
    width: 60%;

    & input[type=text] {
      width: 90%;
    }
  }

  &-operations {
    width: 20%;
    text-align: right;
  }
}

.sake-title {
  font-size: 1.8em;
  border-bottom: solid 1px $border1;
  margin: 0 4vw;
  padding: 2vw;
}

.drinker-log {
  height: 100vw;
  margin-top: 5vw;
  padding-top: 3vw;
  padding-bottom: 3vw;
  background-color: $background2;
  border-top: solid 1px $border2;
}

.logs {
  height: 40vw;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  margin: 0px 5vw;
}

.log
{
  margin: 10px 0px;
  padding: 1vw 0;
  border-bottom: solid 1px $border2;
  p{margin: 0px; padding:0px; text-align:left;}
  #{&}-date{ font-size:15px; }
  #{&}-sake{ }
}

.profile-login-terms {
  margin-top: 4vw;
  text-align: center;
}

// Login
.button-wrap{
    margin-top: 5vw;
    text-align:center;
}
.facebook-button-wrap
{
   margin-top: 7vw;
}

input.passcode {
  width: 40vw;
  font-size: 8vw;
  font-family: monospace;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom: 1px solid #aaa;
}

button:focus {
  outline: none;
}

button.facebook:active {
  border-top: 1vw solid #1f356b;
  border-bottom: 0px;
}

button.facebook {
  @extend .basic-button;
  background-color: #2B4174;
  background-image: url(../assets/wood_facebook_button.png);
  border-bottom: 1vw solid #2B4174;
}

.login-wrap{ text-align: center; }
.wrap-passcode{ padding-top: 8vw; }
.login-img{ width:31vw; height:31vw; }
.login-info{
   margin-top:0px; margin-bottom:0px;
   font-size: 4vw;
   font-weight: bold;
}
.passcode-info {
  width: 80vw;
  font-size: 3vw;
  margin: auto;
}
.login-terms { margin-top:11vw; }
.error_message{ color:red; }
