// Place all the styles related to the festivals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.thewinner
{
  text-align:center; margin-top:0px;padding-top:0px;
  #{&}-title {
    margin: 0;
    padding: 3vw;
    font-size: 7vw;
    background-color: #eeeeee;
  }
  #{&}-wrap-content {
    height:126vw;
    padding-top:11vw;
  }
  #{&}-result {
    background-image: asset-url("result-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  #{&}-no1{ font-weight:bold; font-size:6vw; margin-bottom:2vw; }
  #{&}-hiyaoroshi{ font-weight:bold; font-size:7vw; margin-top:0px; color:#D30F13; }
  #{&}-image img {
    width: 70vw;
    height: 49vw;
  }
  #{&}-coming-soon {
    font-size: 10vw;
    font-weight: bold;
  }
  #{&}-wait {
    font-size: 6vw;
  }
}

.comingsoon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height:148vw;
  background-image: asset-url("top-coming-soon.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.itstoolate-banner{
  width:100vw;
}

.itstoolate{
text-align:center;
}
.itstoolate-h1{ background-color:#EAEAEA; margin:0; padding:0.67em 0; }
