// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// map.html.erb

#map {
  position: relative;
  width: device-width;
  padding-bottom: 90%; // 横幅に対する高さの比
  height: 0;
  overflow: hidden;
}

#map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

// show.html.erb

#checkin-panel {
    background-color: #eeeeee;
    padding: 4vw;
    font-size: 4vw;
    text-align: center;
}

#checkin-panel a {
    text-decoration: none;
}

#checkin-panel a:link, #checkin-panel a:visited {
    color: #af4089;
}

#sake-select-panel {
  display: flex;
  margin-top: 4vw;
  overflow: hidden;
}

.shouji {
  width: 15vw;

  & img {
    width: 100%;
  }
}

.sake-slick {
  width: 70vw;
  background-color: #ffe9a9;

  &_btn {
    padding: 0 5vw;

    & img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 4vw;
    }
  }
}

.sake img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    height: 49vw;
}

#sake-info {
    margin-top: 2vw;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sake-name {
    font-size: 4vw;
    text-align: center;
}

.sake-brand {
    font-size: 6vw;
}

.vote-button-area {
    margin-top: 2vw;
    text-align: center;
}

// ?

#modal-content{
  width:50%;
  margin:1.5em auto 0;
  padding:10px 20px;
  border:2px solid #aaa;
  background:#fff;
  z-index:2;
}

.modal-p{
  margin-top:1em;
}

.modal-p:first-child{
  margin-top:0;
}

.button-link{
  color:#00f;
  text-decoration:underline;
}

.button-link:hover{
  cursor:pointer;
  color:#f00;
}

#modal-content li{
  display: table-cell;
}
$icon-size: 30px;
.map-congestion{
  width:$icon-size;
  height:$icon-size;
  border-radius:50%;
  background-color:gray
}
.map-icon{
  width:$icon-size;
  height:$icon-size;
}

// _detail.html.erb

#restaurant-detail {
  padding: 3vw;
  overflow: hidden;
}
#restaurant-icon {
  width: 18vw;
  float: left;
}
img.restaurant-icon {
  width: 100%;
}
#restaurant-info {
  float: left;
  padding-left: 4vw;
}
.restaurant-name {
  padding-top: 2vw;
  font-size: 7vw;
}
.congestion-label {
  display: inline-block;
  padding: 1vw;
  border-radius: 1vw;
  font-size: 4vw;
}
.congestion-1 {
  color: #000000;
  background-color: #e9bf25;
}
.congestion-2 {
  color: #ffffff;
  background-color: #ce722a;
}
.congestion-3 {
  color: #ffffff;
  background-color: #c6431c;
}

#twitter {
  padding-top: 4vw;
  padding-left: 4vw;
  padding-right: 4vw;
  background-color: #f5f5f5;
  border-top: solid 1px #aaaaaa;
}
#twitter-title {
  padding: 0;
  font-family: Arial;
  font-size: 6vw;
}

.zoom-window {
width:100%;
min-height:100vh;
position:absolute;
top:0px;
background-color:rgba(0,0,0,0.7);
z-index:101;text-align:center;
}

.zoom-image {
margin:0 auto;
width:100%;
margin-top:10vh;
}
