// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// map.html.erb

#map {
  position: relative;
  width: device-width;
  padding-bottom: 90%; // 横幅に対する高さの比
  height: 0;
  overflow: hidden;
}

#map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

// show.html.erb

#restaurant-name {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 7vw;
    font-size: 6vw;
    font-weight: bold;
    text-align: center;
    pointer-events: none;
}

#checkin-panel {
    background-color: #eeeeee;
    padding: 4vw;
    font-size: 4vw;
    text-align: center;
}

#checkin-panel a {
    text-decoration: none;
}

#checkin-panel a:link, #checkin-panel a:visited {
    color: #aa00cc;
}

#sake-select-panel {
    margin-top: 4vw;
    overflow: hidden;
}

.shouji {
    width: 15vw;
    float: left;
}
.shouji img {
    width: 100%;
}

#sakes {
    width: 70vw;
    float: left;
    background-color: #ffe9a9;
}

.sake img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    height: 49vw;
}

#sake-info {
    margin-top: 2vw;
    overflow: hidden;
    text-align: center;
}
.sake-change {
    width: 15vw;
    float: left;
}
.sake-change img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 4vw;
}
#sake-name {
    font-size: 4vw;
    width: 70vw;
    height: 13vw;
    float: left;
}
.vote-button-area {
    margin-top: 2vw;
    text-align: center;
}

// ?

#modal-content{
  width:50%;
  margin:1.5em auto 0;
  padding:10px 20px;
  border:2px solid #aaa;
  background:#fff;
  z-index:2;
}

.modal-p{
  margin-top:1em;
}

.modal-p:first-child{
  margin-top:0;
}

.button-link{
  color:#00f;
  text-decoration:underline;
}

.button-link:hover{
  cursor:pointer;
  color:#f00;
}

#modal-content li{
  display: table-cell;
}
$icon-size: 30px;
.map-congestion{
  width:$icon-size;
  height:$icon-size;
  border-radius:50%;
  background-color:gray
}
.map-icon{
  width:$icon-size;
  height:$icon-size;
}

// _detail.html.erb

#restaurant-detail {
  padding: 3vw;
  overflow: hidden;
}
#restaurant-icon {
  width: 16vw;
  float: left;
}
img.restaurant-icon {
  width: 100%;
}
#restaurant-info {
  float: left;
  padding-left: 4vw;
}
.restaurant-name {
  padding-top: 2vw;
  font-size: 7vw;
}
.congestion-label {
  display: inline-block;
  padding: 1vw;
  border-radius: 1vw;
  font-size: 4vw;
}
.congestion-1 {
  color: #000000;
  background-color: #e9bf25;
}
.congestion-2 {
  color: #ffffff;
  background-color: #ce722a;
}
.congestion-3 {
  color: #ffffff;
  background-color: #c6431c;
}

#twitter {
  padding-left: 4vw;
  padding-right: 4vw;
  border-top: solid 1px #aaaaaa;
}
#twitter-title {
  padding: 0;
  font-family: Arial;
  font-size: 6vw;
}
