<h1>Shops</h1>
<div>
  <form>
    <select name="shop">
      <% @restaurants.each do |restaurant| %>
        <option value="<% restaurant.name %>"><%= restaurant.name %></option>
      <% end %>
    </select>
    <input type="submit" value="送信"><input type="reset" value="リセット">
  </form>
</div>
